@import "./color_schemes/dark";
$body-background-color: #191919;
$sidebar-color: #161616;
$search-background-color: #252525;
$body-text-color: #d8d8d8;
$body-heading-color: #f0f0f0;
$link-color: #e0e0e0;
$nav-child-link-color: #bcbcbc;
$border-color: #484848;
$code-background-color: #2b2b2b;
$feedback-color: #303030;
$btn-primary-color: #606060;
$base-button-color: #2b2b2b;
